*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

h1 , h2, h3 , h4, h5, h6 { 
  font-family: "BaiJamjuree-Semi-Bold";
}

p { 
  font-family: "BaiJamjuree-Regular";
}

li , ul { 
  padding: 0;
  margin: 0;
}

section:not(.hero-section) { 
  padding: 50px;
  max-width: 1400px;
  margin: 0 auto;
}

:root { 

  /* Primary */

  --Green-500: hsl(171, 66%, 44%); 
  --Blue-100: hsl(233, 100%, 69%); 

  /* Neutral */

  --Gray-700: hsl(210, 10%, 33%); 
  --Gray-500: hsl(201, 11%, 66%);
}

@font-face {
  font-family: "BaiJamjuree-Regular";
  src: url("../fonts/BaiJamjuree-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face { 
  font-family: "BaiJamjuree-Semi-Bold";
  src: url("../fonts/BaiJamjuree-SemiBold.woff2") format("woff2");
  font-display: swap;
}

body { 
  font-family: "BaiJamjuree-Regular";
}

.hero-section { 
  background-image: url("../images/bg-header-mobile.png");
  width: 100%;
  background-position: top;
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
}


.hero__logo { 
  margin: 0 auto;
  margin-bottom: 2em;
}

.hero__header { 
  color: var(--Gray-700); 
  font-size: 33px;
  margin-bottom: 0.5em;
}

.hero__description { 
  color: var(--Gray-500);
  line-height: 1.4;
  margin-bottom: 1em;
}

.buttons-mac { 
  background-color: var(--Green-500);
}

.buttons-ios { 
  background-color: var(--Blue-100);
}

.buttons { 
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  border: none;
  padding: .75em 1.5em;
  border-radius: 999px;
  margin-bottom: 1em;
  cursor: pointer;
}

.buttons-contianer { 
  display: flex; 
  flex-direction: column;
  padding: 1em;
}


@media (min-width: 600px) { 
  .hero-section { 
    background-image: url("../images/bg-header-desktop.png");
  }
  .hero__container { 
    max-width: 550px;
  }
  .buttons-contianer { 
    flex-direction: row;
    gap: 1em;
    justify-content: center;
  }
}











