*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

h1 , h2, h3 , h4, h5, h6 { 
  font-family: "BaiJamjuree-Semi-Bold";
}

p { 
  font-family: "BaiJamjuree-Regular";
}

li , ul { 
  padding: 0;
  margin: 0;
}

section:not(.hero-section) { 
  padding: 75px 40px;
  max-width: 1400px;
  margin: 0 auto;
}

:root { 

  /* Primary */

  --Green-500: hsl(171, 66%, 44%); 
  --Blue-100: hsl(233, 100%, 69%); 

  /* Neutral */

  --Gray-700: hsl(210, 10%, 33%); 
  --Gray-500: hsl(201, 11%, 66%);
}

@font-face {
  font-family: "BaiJamjuree-Regular";
  src: url("../fonts/BaiJamjuree-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face { 
  font-family: "BaiJamjuree-Semi-Bold";
  src: url("../fonts/BaiJamjuree-SemiBold.woff2") format("woff2");
  font-display: swap;
}

body { 
  font-family: "BaiJamjuree-Regular";
}

.hero-section { 
  background-image: url("../images/bg-header-mobile.png");
  width: 100%;
  background-position: top;
  background-size: cover;
  height: 80dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
}

.hero__container { 
  max-width: 700px;
}


.hero__logo { 
  margin: 0 auto;
  margin-bottom: 2em;
}

.hero__header { 
  color: var(--Gray-700); 
  font-size: 33px;
  margin-bottom: 0.5em;
}

.hero__description { 
  color: var(--Gray-500);
  line-height: 1.4;
  margin-bottom: 1em;
}

.buttons-mac { 
  background-color: var(--Green-500);
}

.buttons-mac:hover { 
  background-color: hsla(171, 66%, 44%, 0.8);
}

.buttons-ios { 
  background-color: var(--Blue-100);
}

.buttons-ios:hover { 
  background-color: hsla(233, 100%, 69%, 0.8);
}

.buttons { 
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  border: none;
  padding: .75em 2em;
  border-radius: 999px;
  cursor: pointer;
  margin: .75rem 0;
}



.buttons-contianer { 
  display: flex; 
  flex-direction: column;
  padding: 1em;
  max-width: fit-content;
  margin: 0 auto;
}

.clipboard__title { 
  margin-bottom: .5em;
  color: var(--Gray-700);
  font-size: 26px;
}

.clipboard__description { 
  margin-bottom: 1em;
  color: var(--Gray-500);
}

.clipboard__header--text { 
  text-align: center;
  margin: 3rem auto;
}

.clipboard__content { 
  display: flex;
  gap: 5em;
  flex-direction: column;
}

.clipboard__content__item { 
  text-align: center;
  margin-bottom: 1em;
}


.clipboard__content__item--title { 
  color: var(--Gray-700);
  margin-bottom: .5em;
  font-size: 24px;
}

.clipboard__content__item--description { 
  color: var(--Gray-500);
}

.access__header--text  { 
  text-align: center;
  margin: 4em auto;
}

.access__title { 
  color: var(--Gray-700);
  margin-bottom: .7em;
}

.access__description { 
  color: var(--Gray-500);
}

.access__section--img { 
  margin: 0 auto;
}

.workflow__title { 
  font-size: 24px;
  margin-bottom: .5em;
  color: var(--Gray-700);
  text-align: center;
}

.workflow__description { 
  color: var(--Gray-500);
  text-align: center;
}

.workflow__items { 
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workflow__item { 
  margin: 1em 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.workflow__item--header { 
  font-size: 23px;
  color: var(--Gray-700);
}

.workflow__item__description { 
  color: var(--Gray-500);
}

.partners__section { 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.end-cta__container{ 
  max-width: 650px;
  margin: 0 auto;
}
.end-cta__title { 
  text-align: center;
  margin-bottom: .75em;
  color: var(--Gray-700);
}

.end-cta__description { 
  text-align: center;
  color: var(--Gray-500);
}

footer { 
  margin-top: 100px;
  padding: 50px;
  background-color: hsla(201, 11%, 66%, 0.4);
}

.footer-container { 
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer img { 
  width: 50px;
}

footer ul { 
  list-style: none;
  padding: 0;
  cursor: pointer;
}

footer li { 
  font-size: 18px;
  margin: 1rem 0;
  color: var(--Gray-700);
}

i { 
  color: var(--Gray-700);
  font-size: 30px;
}

i:hover { 
  color: var(--Green-500);
}

.footer__icons { 
  display: flex;
  gap: 1rem;
  cursor: pointer;
}



footer li:hover { 
  color: var(--Green-500);
}

@media (min-width: 850px) { 
  .hero-section { 
    background-image: url("../images/bg-header-desktop.png");
  }

  .hero__container { 
    max-width: 550px;
  }

  .buttons-contianer { 
    flex-direction: row;
    gap: 1em;
    justify-content: center;
  }

  .clipboard__header--text { 
     width: 47%;
     text-align: center;
  }

  .clipboard__img { 
    width: 60%;
    object-fit: contain;
  }

  .clipboard__content { 
    gap: 3em;
    flex-direction: row;
  }

  .clipboard__content__items { 
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
  }

  .clipboard__content__item { 
    text-align: left;
    max-width: 350px;
  }

  .access__header--text { 
    max-width: 630px;
  }

  .workflow__items { 
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
  } 

  .workflow__item { 
    flex-basis: 350px;
  }

  .partners__section { 
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
  }

  .footer-container { 
    flex-direction: row;
    justify-content: space-between;
  }
}











